{% load thumbnail %}

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="product dark">
        <a href='#'>
            <div class="opacity-text">
            {% thumbnail p.image '200x200' crop="top" as im %}
                <img src="{{ im.url }}" class="image-size"> 
            {% endthumbnail %}
                <div class="caption">
                    <span class="title">{{p.title}}</span>
                    <span class="info">Краткое описание или анонс записи</span>
                </div>
            </div>
        </a>
        <p class="name">{{p.title}}</p>
        <p class="price left">100p.</p>

        <div class="amount">
            <span class="down">-</span>
            <input type="number" value="1" min="1" max="9999" step="1" />
            <span class="up">+</span>
        </div>

        <a href="#" class="button add-to-cart">В КОРЗИНУ</a>
    </div>
</div>