{% load thumbnail %}

<!-- карточка раздела (выводится на главной) -->

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="item">
        <a href="{% url 'catalog:view_section' s.slug %}">
            {% thumbnail s.image '200x200' crop="top" as im %}
               <div class="ovHid">
                  <img src="{{ im.url }}" class="image">
                  </div>
            {% endthumbnail %}
            <div class="title">
                <p><span>{{s.title}}</span></p>
            </div>
        </a>
    </div>
</div>
