{% extends "initial.html" %} 

{% load static %} 

{% block body %}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h5 class="left">Время работы: Пн-Вс
                    <span class="old"><strong>&nbsp;с 10:00 до 22:00</strong></span>
                    <br>Доставка суши в Воронеже
                </h5>
                <h5 class="right">
                    <span class="bold">&nbsp;
                        <a href="tel:291-98-10" class="numberup">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        &nbsp;291-98-10
                        </a>
                    </span>
                </h5>
            </div>
        </div>
    </div>
</div>


<div class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2">
                <img src="{% static 'img/logo.jpg' %}" alt="logo" class="logo">
            </div>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <p><a href="{% url 'home' %}">главная</a></p>
                <p><a href="{% url 'home' %}">меню&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i></a></p>
                <p><a href="{% url 'delivery' %}">доставка и оплата</a></p>
<!--                <p><a href="{% url 'about' %}">о нас</a></p>-->
                <p><a href="{% url 'contacts' %}">контакты</a></p>

            </div>
            <div class="col-md-2 col-xs-2 col-sm-2">
                <div class="basket">
                    <a class="cart-link" href="#">Корзина</a>
                    <span class="relative">
			<img src="{% static 'img/commerce.png' %}" alt="logo" class="basket">
			<span class="basket-quantity">2</span></span>
                    <span class="cart-sum"><strong>2220.0 руб</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>


{% block raw_content %}

<div class="container">
    {% block content %}
    {% endblock %}

</div>


{% endblock %}


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
                <p class="left">© 2018 "Эль Фиш"</p>

            </div>
            <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2 icons">
                <span><a href="https://vk.ru" class="social"><i class="fa fa-vk" aria-hidden="true"></i></a></span>

                <span><a href="https://istagram.com" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>


            </div>
            <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5">
                <p class="right">Разработка сайта - <a href="mailto:astahova933@yandex.ru" class="web">ARTastahova</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
