{% extends "initial.html" %}
{% load static %}

{% block body %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	<a class="navbar-brand" href="{% url 'home' %}">FS AUTH</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
       {% if user.is_authenticated %}
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.email }}
                </a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
					<a class="dropdown-item" href="{% url 'users:change_password' %}">Change password</a>
					<a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a>
				</div>
			</li>
		</ul>
       {% else %}
		<form class="form-inline ml-auto">
			<a href="{% url 'users:login' %}" class="btn btn-outline-secondary">Log in</a>
			<a href="{% url 'users:signup' %}" class="btn btn-primary ml-2">Sign up</a>
		</form>
       {% endif %}

	</div>
</nav>
<main role="main" class="container">
	<div class="row">
		<div class="col-md-12">
            {% for message in messages %}
		        <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
                {{ message|safe }}
                </div>
            {% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
            {% block breadcrumbs %}{% endblock %}
        </div>
	</div>

    {% block content %}
    {% endblock %}
</main>
{% endblock %}
