{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Доставка</h1>
    </div>
<div class="delivery">
    <div class="col-md-12">
        <div class="text">
            <p>Доставка по городу от 500руб. бесплатно. Если стоимость заказа меньше,то доставка будет составлять 50руб.</p>
            <p>При заказе от 2х до 4х порций роллов - ОДИН НАБОР СПЕЦИЙ БЕСПЛАТНО</p>
            <p>Если вы хотите сделать заказ за черту города (АЭС, Ивановка, Подсосенки), уточняйте стоимость доставки у администратора тел.8-937-971-00-67.</p>
            <p>*Контейнеры оплачиваются отдельно</p>
            <ul>
                <li>Большой контейнер: 15 рублей</li>
                <li>Средний контейнер: 10 рублей</li>
            </ul>
            <p>Если у Вас возникли вопросы по качеству блюд или обслуживания, звоните +7-906-309-51-99</p>
            <h1>Оплата</h1>
            <p><strong>Наличный расчёт</strong></p>
            <p>Если товар доставляется курьером, то оплата осуществляется наличными курьеру в руки. При получении товара обязательно проверьте комплектацию товара, наличие гарантийного талона и чека.</p>
            <p><strong>Оплата онлайн банковской картой</strong></p>
            <p>Для того, чтобы выбрать вариант оплаты Вашего заказа по карте Вам нужно перейти на нужную страницу на сайте и заполнить контактную информацию, далее выбрать «Вид оплаты: Visa/MasterCard через "Сбербанк" --&gt; "Отправить заказ".</p>
            <p><strong>Передача данных</strong></p>
            <p>Для платежа Вы перенаправитесь на ОАО «Сбербанк России». Подготовьте, пожалуйста карту заранее (соединение и передача данных происходит в безопасном режиме).</p>
            <p>Проведение онлайн-оплат по банковской карте совершается в соответствии с условиями платежных систем. В случае поддерживания Вашим банком защищенного проведения оплат онлайн, для проведения оплаты может понадобиться спец. пароль, который вы уточняете в Вашем банке.</p>
            <p>Конфиденциальность получаемых персональных данных гарантирует ОАО «Сбербанк России». Предоставленные Вами данные не передаются другим лицам (исключая ситуации, предусмотренные законами Российской Федерации.</p>
            <p><strong>Процесс оплаты</strong></p>
            <p>После оформление заказа Вам нужно нажать "Оплата банковской картой" и перейти на страницу, где Вы заполняете нужные поля, проходит авторизация, далее нажимаете "Вернуться в магазин". После этого система уведомляет Вас об итоге авторизации, после подтверждения которой Ваш заказ выполняется автоматически. Если авторизация карты не прошла, проведите процедуру еще раз.</p>
            <p>В соответствии с законодательством РФ возврат продовольственной Продукции надлежащего качества не допускается, возврат денежных средств за такую Продукцию не производится<br>В случае обнаружения в Заказе Продукции, не соответствующей заказанной, Клиент вправе принять данную Продукцию или отказаться от нее и потребовать замены на Продукцию, предусмотренную Заказом, либо возврата денежных средств за фактически неполученную Продукцию.<br>Возврат переведенных средств, производится на Ващ банковский счет в течении 5-30 рабочих дней (срок зависит от Банка, который выдал вам банковскую карту)</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}
