{% extends 'base.html' %} {% load static %} {% block raw_content %}

<div class="sales">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="sales-position">
                    <h1>Акции месяца</h1>
                    <a href="#"><button type="button" class="sales-info" >подробнее</button></a>
                    </div>

            </div>
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} alert-dismissable">
                <!--              <a href="#" class="button add-to-cart">корзина</a>-->
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block breadcrumbs %}{% endblock %}
        </div>
    </div>
</main>
<div class="block-align">
    <div class="row">
        <!-- разделы -->
        {% for s in sections %} {% include 'catalog/elements/section_item.html' %} {% endfor %}
    </div>
</div>
{% endblock %}
