{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="sections">



            <!-- блок с секциями-->
            <div class="item">
                <a href="/shop/rollzapec5" class="col-lg-4 col-md-4 col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="400">
                    <img src="http://images.avtosushi.ru/images/thumbs/productmenu3/523.jpg_c_360x360.jpg" class="img-responsive" alt="Роллы/Суши/Сеты">
                    <div class="caption">
                    <div class="title">
                        <div>
                            <h1>Название</h1>
                        </div>
                    </div>
 
                </div>
            </a>

            </div>
        </div>
    </div>
</div>
{% endblock %}
